
@font-face {
	src: url(/resources/font/depixelklein.otf);	
}

@font-face {
    src: url(/resources/font/PixelScript.otf);
}


#btnLabel{
	-fx-background-image: url(/resources/image/buttonLabel.png);
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-font-size: 15;
	-fx-text-fill: black;
	-fx-font-family: 'DePixel';
}

#btnLabel:hover
{	
	-fx-background-image: url(/resources/image/buttonLabelHover.png);
   	-fx-text-fill: white;
}

#btnStyle1 {
	-fx-background-image: url(/resources/image/button.png);
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-font-size: 15;
	-fx-text-fill: white;
	-fx-font-family: 'DePixel';
}

#btnStyle1:hover{
	-fx-background-image: url(/resources/image/buttonHover.png);
	-fx-text-fill: gray;
}



#subTitle {
	-fx-font-family: 'DePixel';
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0.0, 0.0);
	-fx-text-fill: black;
	-fx-font-size: 30;
	
}

#btnForward{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/arrowRight.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}

#btnForward:hover{
	-fx-background-image: url(/resources/image/arrowRightHover.png);
}

#btnBack{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/arrowLeft.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}

#btnBack:hover{
	-fx-background-image: url(/resources/image/arrowLeftHover.png);
}

#BtnGoBack{
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-family: 'DePixel';
}

#BtnGoBack:hover{
	-fx-text-fill: gray;
}

#Boxtxt {
	-fx-font-family: 'Pixel Script';
	-fx-font-size: 16;
}

#initScene {
	-fx-background-image: url(/resources/image/background02.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

#characterScene, #levelScene{
	-fx-background-image: url(/resources/image/background03.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}

#levelScene #levelBtn{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/button02.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-text-fill: white;
	-fx-font-family: 'DePixel';
	-fx-font-size: 15;
}

#levelScene #levelBtn:hover{
	-fx-background-image: url(/resources/image/button02Hover.png);
	-fx-text-fill: gray;
}

#ruleScene, #mazeScene{
	-fx-background-color: white;	
}



