@font-face {
    src: url(/resources/font/Chopsic.ttf);
}

@font-face {
    src: url(/resources/font/MagicalStylishSansSerifDemo.otf);
}

.button
{
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.4), 5.0, 0.0, 0.0, 1.0);
   -fx-text-fill: white;
}

.button:hover
{
    -fx-background-color:#4A55A2;
    -fx-background-radius: 6.0,5.0;
    -fx-background-insets: 0.0,1.0;

    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.4), 5.0, 0.0, 0.0, 1.0);
   -fx-text-fill: white;

}


#btnStyle1 {
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/button02.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-font-size: 15;
	-fx-font-family: 'Magical Stylish Sans Serif Demo';
}


#mainTitle {
	-fx-font-size: 70;
	-fx-font-family: 'Chopsic';
	-fx-text-fill: white;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 10, 0.5, 0.0, 0.0);
}

#subTitle {
	-fx-font-family: 'Chopsic';
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0.0, 0.0);
	-fx-text-fill: white;
	-fx-font-size: 30;
	
}

#btnForward{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/btnForward.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}

#btnBack{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/btnBack.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}

#BtnGoBack{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-family: 'Magical Stylish Sans Serif Demo';
}

#Boxtxt {
	-fx-font-family: 'Magical Stylish Sans Serif Demo';
	-fx-font-size: 15;
}

#initScene, #ruleScene, #characterScene, #levelScene, #mazeScene{
	-fx-background-image: url(/resources/image/background.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

#btnJohnny{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/Johnny.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}

#btnSarah{
	-fx-background-color: transparent;
	-fx-background-image: url(/resources/image/Sarah.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: stretch;
}


